@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;500;800&display=swap');

*{
    font-family: 'Exo', sans-serif;
    outline: none !important;
}

html{
    scroll-behavior: smooth;
}


.site-nav{
    position: absolute;
    top: 0;
    z-index: 2000;
}
.site-nav-scroll{
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 0 5px #00000020;
    animation: toShow 0.5s linear;
}

@keyframes toShow{
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0);
    }
}

.site-nav-scroll .nav-link{
    color: #1A129F !important;
}

.site-nav-scroll .menu-icon{
    color: #1A129F !important;
}

.nav-link.current-section{
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}
.site-nav-scroll .nav-link.current-section{
    border-top: 3px solid #1A129F;
    border-bottom: 3px solid #1A129F;
}

.site-logo{
    width: 150px;
}

.home{
    background-image: url(../img/bg-shape.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
    position: relative;
}
.social-v{
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-v a{
    margin-bottom: 10px;
    transition: .5s;
}

.social-v a:hover{
    transform: scale(1.5);
}

.scroll-to-next{
    position: absolute;
    bottom: 50px;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0;
    margin: auto;
    /* border: 1px solid black; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about{
    background-color: #7E76F910;
}

.about-text{
    background-image: url(../img/bg-2.svg);
    background-size: 100%;
    background-position: center;
}

.services{
    background-image: url(../img/bg-3.svg);
    background-size: 100%;
    background-position: center;
}
.service-card{
    box-shadow:  0 0.5rem 0.5rem rgb(0 0 0 / 5%) !important;
    transition: 0.5s;
}
.service-card:hover{
    box-shadow:  0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    transform: scale(0.98);
}

.service-card img{
    transform: 0.5s;
}

.service-card img:hover{
    transform: scale(1.5);
}
.services-desc{
    height: 180px;
}

.pricing{
    background-color: #7E76F915;
}
.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots li{
    width: 10px !important;
    height: 10px !important;
    background-color: transparent !important;
    border: 2px solid #7E76F9 !important;
    border-radius: 50% !important;
}
.slick-dots li.slick-active{
    width: 15px !important; 
    height: 15px !important;
    background-color: #7E76F9 !important;
}

.footer{
    /* height: 500px; */
    background-image: url(../img/footer-1.svg), url(../img/footer-2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 150px 0 20px 0;
}

.social-icon a{
    transition: .5s;
}

.social-icon a:hover{
    transform: scale(1.5);
}

.ani-delay-1{
    animation-delay: 0.5s;
}
.ani-delay-2{
    animation-delay: 1s;
}
.ani-delay-3{
    animation-delay: 1.5s;
}
.ani-delay-4{
    animation-delay: 2s;
}
.ani-delay-5{
    animation-delay: 2.5s;
}
.ani-infi{
    animation-iteration-count: infinite;
}


@media screen and (max-width: 768px) {
    
    .nav-link.current-section{
        border-top: 3px solid #1A129F;
        border-bottom: 3px solid #1A129F;
    }

    .content-2, .content-2-text{
        width: 100% !important;
        margin: auto !important;
    }
    .footer{
        background-position: center;
        background-size: cover;
    }
    
    .social-v{
        bottom: 15px;
        left: 15px;
    }
    .mo-nav{
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }
    .site-nav{
        background-color: #ffffffee;
        backdrop-filter: blur(3px);
        box-shadow: 0 0 5px #00000020;
    }
    .site-nav .menu-icon{
        color: #1A129F !important;

    }
    .navbar-nav{
        padding-top: 20px;
    }
    .site-nav .nav-link{
        color: #1A129F !important;
        padding: 15px 20px;
        background-color: #00000010;
        margin-bottom: 20px;
        border-radius: 35px;
        box-shadow: 0 0 5px #1A129F80;
    }
}

